body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 240px;
  text-align: center;
  border-radius: 25px;
  padding:15px;
  border: 1px;
  align: center;
  background-color: lightpink;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .img{
	display: block;
       	margin-left: auto;
       	margin-right: auto;
       	height:240px;
	width: 240px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card .Ebutton, .card .Dbutton{
	border: 2px solid;
	border-radius: 6px;
	background-color: white;
}
.card .Ebutton{
	color: blue;
	border-color: blue;
}

.card .Dbutton{
	color: red;
	border-color: red;
}

.card .desc{
	font-weight:bold;
}
.map{
	background-color: pink;
}
