.block{
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	border-radius: 25px;
  	padding:15px;
  	border: 1px;
}

.close{
	position: absolute; 
	top: 8px; 
	right: 8px; 
	background: #e0e0e0; 
	border: none; 
	border-radius: 3px; 
	cursor: pointer; 
	padding: 2px 5px;

}
