* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  background-image: url("picmix.com_13420867.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Open button */
.open-btn {
  padding: 24px 40px;
  background: #add8e6;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: white solid;
}

/* Modal overlay */
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Show modal */
.modal:target {
  opacity: 1;
  pointer-events: auto;
}

/* Modal box */
.modal-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 25px;
  border-radius: 6px;
  position: relative;
  background-image: url(https://gifcity.carrd.co/assets/images/gallery70/f27d9272.gif?v=49efbe4c);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  text-decoration: none;
  font-size: 24px;
  color: #333;
}

.close-btn:hover {
  color: #e26f1e;
}

.modal-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 14px;
	font-weight: bold;
}
.devider {
	display:block;
	margin: 0 auto;
}
.image-preview {
	margin: 12px auto;
	align-items: center;
	width: 90px;
	height: 120px;
	border: 1px solid #ccc;
	display:flex;
}

.confirm-btn {
	display: block;
	align-items: center;
	margin: 18px auto 0;
	padding: 6px 20px;
	border: 1px solid #fb6f92;
	background: #ffb3c6;
	color: #fb6f92;
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

