// Імпорт файлів
@use "variables" as *;
@use "mixins" as *;

// Секція Services
.services {
    @include container;
    flex: 1;
    padding: 50px 0;

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
        color: $primary-color;
    }

    &__list {
        display: flex;
        gap: $gutter;

        @include respond-to("md") {
            flex-direction: column;
        }
    }

    .service {
        background-color: white;
        border: 1px solid #ddd;
        padding: 20px;
        flex: 1;
        text-align: center;
        border-radius: 5px;

        &__title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        &__description {
            font-size: 1rem;
            color: $text-color;
        }
    }
}

// Footer
.footer {
    background-color: $text-color;
    color: white;
    text-align: center;
    padding: 20px;
}