body{
	margin: 40px;
	display: flex;
	gap: 50px;
	align-items: flex-start;
}
.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 240px;
  text-align: center;
  border-radius: 25px;
  padding:15px;
  border: 1px;
  align: center;
  transition: transform 0.3s;
}
.card:hover{
	transform: scale(1.2);
}
.button{
	 color: white;
	 width:50%;
 }
