body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    font-size: 150%;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    line-height: 1.6;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 200%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}