// Імпорт файлів
@use "variables" as *;
@use "mixins" as *;

// Скидання стилів
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    color: $text-color;
    background-color: $background-color;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

a {
    text-decoration: none;
    color: inherit;
}
