@use "variables" as *;

// Міксин для центрування
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Міксин для контейнера
@mixin container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $gutter;
}

// Міксин для медіа-запитів
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}
