// Імпорт файлів
@use "variables" as *;
@use "mixins" as *;

// Секція Services
.services {
    @include container;
    padding: 50px 0;

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
        color: $primary-color;
    }

    &__list {
        display: flex;
        gap: $gutter;
        flex-direction: column;
    }

    .service {
        background-color: white;
        border: 1px solid #ddd;
        padding: 20px;
        text-align: center;
        border-radius: 5px;

        &__title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        &__description {
            font-size: 1rem;
            color: $text-color;
        }

        .poster {
            max-width: 100%;
            width: 200px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
}

// Footer
.footer {
    background-color: $text-color;
    color: white;
    text-align: center;
    padding: 20px;
}
