* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

body {
	background-color: #f5f5f5;
	display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: Arial, sans-serif;
	}

.container {
        position: relative;
        width: 400px;
        height: 400px;
        }

.frame {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 350px;
        height: 350px;
        border: 15px solid rgba(255, 182, 193, 0.6);
        z-index: 1;
        }

.image-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        z-index: 2;
        }

.image-wrapper::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        width: 120px;
        height: 120px;
        background-color: rgba(245, 222, 179, 0.8);
        z-index: -1;
        }

.image-wrapper::after {
        content: '';
        position: absolute;
        bottom: -10px;
        right: -10px;
        width: 120px;
        height: 120px;
        background-color: rgba(245, 222, 179, 0.8);
        z-index: -1;
        }

.image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }
