 * {
	margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: Arial, sans-serif;
        padding: 20px;
        background: #f5f5f5;
}

header {
	background: #6b9bd1;
        color: white;
	text-align: center;
        border:solid blue;
	border-radius: 10px;
        padding: 20px;
        float: left;
        width: 48%;
        margin-bottom: 20px;
}

nav {
	background: #6b9bd1;
        color: white;
	text-align: center;
        border:solid blue;
	border-radius: 10px;
        padding: 20px;
        float: right;
        width: 48%;
        margin-bottom: 20px;
}

main {
	background-color: #6b9bd1;
        color: white;
	text-align: center;
        border:solid blue;
	border-radius: 10px;
        padding: 20px;
        clear: both;
        margin-bottom: 20px;
}

section {
	background: #6b9bd1;
        color: white;
	text-align: center;
        border:solid blue;
	border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
}

footer {
	background: #6b9bd1;
        color: white;
	text-align: center;
        border:solid blue;
	border-radius: 10px;
        padding: 20px;
}
