*, *:before, *:after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
body>div {
	max-width: 800px;
	margin: auto;
}
.msg {
	display: grid;
	margin: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);

}
.content {
	padding: 30px;
}
.recepient {
	grid-area: 1 / 1 / 2 / 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto;
}
.recepient .icon {
	grid-area: 1 / 2 / 3 / 3;
	padding: 5px;
	align-self: center;
}
.recepient .name {
	grid-area: 1 / 1 / 2 / 2;
	align-self: end;
	font-weight: bold;
	text-align: right;
}
.recepient .time {
	grid-area: 2 / 1 / 3 / 2;
	align-self: start;
	color: gray;
	text-align: right;
}
.sender {
	grid-area: 1 / 5 / 2 / 6;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto;
}
.sender .icon {
	grid-area: 1 / 1 / 3 / 2;
	padding: 5px;
	align-self: center;
}
.sender .name {
	grid-area: 1 / 2 / 2 / 3;
	font-weight: bold;
	align-self: end;
}
.sender .time {
	grid-area: 2 / 2 / 3 / 3;
	color: gray;
	align-self: start;
}
.msg_from .content {
	grid-area: 1 / 2 / 2 / 5;
	background: #DDA0DD;
	border-radius: 20px 20px 20px 0;
	text-align: left;
	align-self: center;
}
.msg_to .content {
	grid-area: 1 / 2 / 2 / 5;
	background: #AFEEEE;
	border-radius: 20px 20px 0 20px;
	text-align: right;
	align-self: center;
}
img {
	width: 100%;
}

